<!-- <div class="container mt-3">
    <div class="row">
      <div class="col-md-12">
        <form>
          <div class="row justify-content-center">
            <div class="col-md-11">
              <div  
                class="form-group d-flex mb-3 justify-content-center align-items-center"
              > 
                <input
                 #searchInput
                type="text"
                class="form-control mx-1 shadow"
                placeholder="Search here"
                name="search"
                />  
                <button
                  
                  class="btn btn-success mx-1 addBtn"
                >
                  Search
                </button>
              </div>
            </div>
          </div>
        </form> 
      </div>
    </div>
  </div>   -->

  <!-- ------------------------------------- -->

  <!-- <div class="container mt-3">
    <div class="row">
      <div class="col-md-12">
        <form >
          <div class="row justify-content-center">
            <div class="col-md-11">
              <div class="form-group d-flex mb-3 justify-content-center align-items-center">
                <input
                  
                  type="text"
                  class="form-control mx-1 shadow"
                  placeholder="Search here"
                  [(ngModel)]="searchQuery"
                  name="search"
                  id="searchInput"
                />
                <<button type="submit" class="btn btn-success mx-1 addBtn">Search</button> -->
              <!-- </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div> -->
   

  <div class="container mt-3">
    <div class="row">
      <div class="col-md-12">
        <form (submit)="search()">
          <div class="row justify-content-center">
            <div class="col-md-11">
              <div class="form-group d-flex mb-3 justify-content-center align-items-center">
                <input
                type="text"
                class="form-control mx-1 shadow"
                placeholder="Search here"
                [(ngModel)]="searchQuery"
                name="search"
                id="searchInput"
                (change)="search()"
                />
                <button type="submit" class="btn btn-success mx-1 addBtn"><i class="bi bi-search"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  