<div class="container mt-2">
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="row justify-content-center">
          <div class="col-md-11">
            <div 
              class="form-group d-flex mb-3 justify-content-center align-items-center"
            >
              <input
                type="text"
                class="form-control mx-1 shadow"
                placeholder="Search here" 
                [(ngModel)]="searchCountry"
                name="search"
              />  
              <button
                (click)="locateCountry()"
                class="btn btn-success mx-1 addBtn"
              >
                Search
              </button>
            </div>
          </div>
        </div>
      </form> 
    </div>
  </div>
</div>

<div id="map"></div>

<div class="my-3 text-start">
    <button class="mx-2 btn btn-primary" (click)="getUserLocation()">
      Get My Current Location
    </button>
  </div>

<!-- <google-map height="400px"
            width="750px"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)">
</google-map> -->
  

<!-- <div>Latitude: {{display?.lat}}</div> 
<div>Longitude: {{display?.lng}}</div> -->



  <!-- Add a draggable marker to the map -->
  <google-map height="400px"
              width="100%"
              [center]="center"
              [zoom]="zoom"
              (mapClick)="moveMap($event)"
              (mapMousemove)="move($event)">  
  </google-map>

  <div class="my-3"> 
    <span class="fw-bold">Latitude:</span> {{display?.lat}},<br> <span class="fw-bold">Longitude:</span> {{display?.lng}}
  </div> 
  


